<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>{{title}}</title>

    <!-- Bootstrap Core CSS -->
    <link href="stylesheets/bootstrap.min.css" rel="stylesheet">
    <link href="stylesheets/style.css" rel="stylesheet">

    <!-- Google Fonts -->
    <link href='https://fonts.googleapis.com/css?family=Lato:100,300,400' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet' type='text/css'>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body style="background:whitesmoke;">
    
    <div class="navbar navbar-default navbar-fixed-top">
        <div class="navbar-brand" href="/dashboard">CREDIT22</div>
        <ul class="nav navbar-nav navbar-right">
            <li><a>Kai</a></li>
        </ul>
    </div>
    
    <div class="sidebar">
    
        <ul class="list-icon">
            
            <a href="/dashboard">
            <li {{#if active.home}}class="active"{{/if}}>
                <br/>
                <span class="glyphicon glyphicon-home"></span>
                <span class="sr-only">Home</span>
            </li>
            </a>
            
            <a href="/loan">
            <li {{#if active.loan}}class="active"{{/if}}>
                <br/>
                <span class="glyphicon glyphicon-usd"></span>
                <span class="sr-only">Loan</span>
               
            </li>
            </a>
            
            <a href="/pay">
            <li {{#if active.pay}}class="active"{{/if}}>
                <br/>
                <span class="glyphicon glyphicon-tags"></span>
                <span class="sr-only">Pay Loan</span>
            </li>
            </a>
            
            <a href="/settings">
            <li {{#if active.settings}}class="active"{{/if}}>
                <br/>
                <span class="glyphicon glyphicon-cog"></span>
                <span class="sr-only">Settings</span>
            </li>
            </a>
            
        </ul>
        
    </div>
    
    <div class="page-wrapper">
        
        <div class="container-fluid">
    
            {{{body}}}
        
        </div>
    
    </div>
    
    <!-- jQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>
    <script src="js/TweenMax.min.js"></script>
    <script src="js/custom.js"></script>

</body>

</html>