
    
<div class="row">
    
    <div class="col-md-6">
        <div class="panel">
            <div class="panel-body" style="background-color: #ffb2b2; border-color: #ffb2b2;">
                
                $20
                
            </div>
        </div>
    </div>
    
    <div class="col-md-6">
        <div class="panel">
            <div class="panel-body" style="background-color: #ade2ad;">
                
                $10
                
            </div>
        </div>
    </div>
    
</div>

<div class="row">
    
    
</div>
    