

<!-- Navigation -->
<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">CREDIT22</a>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <form class="navbar-right login-form" method="POST" action="/">
                <input type="email" class="input-dark" name="email" placeholder="Email" autocomplete="false">
            
                <input type="password" class="input-dark" name="password" placeholder="Password">
            
                <button type="submit" class="btn btn-primary">Sign In</button>
            </form>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container -->
</nav>
    
    
<div class="container" style="padding-top:80px; max-width: 550px">
    <h2 style="color: #101010; text-align: center; padding: 20px; ">Sign Up Now</h2>
    <form method="POST">
        <div class="form-group row">
            <label for="fn" class="col-sm-3 form-control-label">First Name</label>
            <div class="col-sm-9">
                <input type="text" class="form-control" id="fn" name="fn" placeholder="Enter your first name" required>
            </div>
        </div>
        <div class="form-group row">
            <label for="ln" class="col-sm-3 form-control-label">Last Name</label>
            <div class="col-sm-9">
                <input type="text" class="form-control" id="ln" name="ln" placeholder="Enter your last name" required>
            </div>
        </div>
        <div class="form-group row">
            <label for="email" class="col-sm-3 form-control-label">Email</label>
            <div class="col-sm-9">
                <input type="text" class="form-control" id="email" name="email" placeholder="Enter your email" required>
            </div>
        </div>
        <div class="form-group row">
            <label for="pw" class="col-sm-3 form-control-label">Password</label>
            <div class="col-sm-9">
                <input type="password" class="form-control" id="pw" name="pw" placeholder="Choose a password" required>
            </div>
        </div>
        <div class="form-group row">
            <label for="pw2" style="padding-top: 0px;" class="col-sm-3 form-control-label">Confirm Password</label>
            <div class="col-sm-9">
                <input type="text" class="form-control" id="pw2" name="pw2" placeholder="Enter password again" required>
            </div>
        </div>
        <div class="form-group row">
            <label for="ssn" class="col-sm-3 form-control-label">SSN</label>
            <div class="col-sm-9">
                <input type="number" class="form-control" id="ssn" name="ssn" placeholder="Enter your social security number" required>
            </div>
        </div>
        <div class="form-group row">
            <label for="dob" class="col-sm-3 form-control-label">DOB</label>
            <div class="col-sm-9">
                <input type="date" class="form-control" id="dob" name="dob" placeholder="Enter your date of birth" required>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-sm-6 col-sm-offset-5">
                <button type="submit" class="btn btn-primary">Submit</button>
            </div>
        </div>
        
    </form>
</div>

<footer>
    <div class="row">
        <div class="col-lg-12 text-muted text-right">
            <p>Copyright &copy; Credit22 2015</p>
        </div>
    </div>
</footer>

