
.navbar-brand {
    font-family: lato, sans-serif;
    font-weight: 400;
    letter-spacing: 3px;
}

.input-dark {
    color: white;
    background: #222;
    width: 140px;
    font-family: opensans, sans-serif;
    border: 1px solid #505050;
    padding:6px 10px;
    border-radius:5px;
}

.login-form {
    margin-top: 8px;
}

@media (min-width: 768px) {
  footer {
      position:fixed;
      bottom:0;
      width:100%;
  }
}

footer {
    padding:15px;
}