
/* Navbar styling */

.navbar-brand {
    font-family: lato, sans-serif;
    font-weight: 400;
    letter-spacing: 3px;
}

.navbar-right {
    margin-right: 0px;
}

/* Sidebar styling */

.sidebar {
    width:80px;
    position:fixed;
    left:0;
    top:50px;
    height:100%;
    
    border-right: 1px solid lightgrey;
    background:white;
}

ul {
    list-style-type:none;
    padding:0px;
    margin:0px;
}

ul.list-icon {
    
}

.list-icon li {
    text-align:center;
    width:80px;
    height:80px;
    
    font-size:20px;
    color:darkgrey;
    
    border-bottom:1px solid lightgrey;
    cursor:pointer;
}

.list-icon li.active {
    border-left:7px solid #18AD18;
}

.list-icon li:hover {
    background:grey;
    color:gainsboro;
}

/* Main page styling */

.page-wrapper {
    margin-top:50px;
    margin-left:80px;
}

/* Other styling */

.input-dark {
    color: white;
    background: #222;
    width: 140px;
    font-family: opensans, sans-serif;
    border: 1px solid #505050;
    padding:6px 10px;
    border-radius:5px;
}

.login-form {
    margin-top: 8px;
}

footer {
    padding:15px;
}

label {
    padding-top: 7px;
}

.panel {
    margin-top: 10px;
    box-shadow: 2px 2px 5px grey;
}

.panel .panel-body {
   
}

.golden {
    font-weight:100;
    font-size:60px;
    color:#363A08;
    text-shadow: 1px 1px 3px #BF7F00, -1px -1px 3px #BF7F00;
}

.calculations {
    font-size: 24px;
    font-family: Arial;
    font-weight:400;
    padding-bottom:10px;
}

.panel-title {
    display:inline-block;
}

.red-link {
    color: #BB4E4E;
    text-decoration: underline;
}